<div class="row">
    <div class="col-5 col-sm-3">
        <p>NAME</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{  item.name|default_if_none:"未入力"  }}</p>
    </div>
</div>
<div class="row">
    <div class="col-5 col-sm-3">
        <p>AGE</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{  item.age|default_if_none:"未入力" }}</p>
    </div>
</div>
<div class="row">
    <div class="col-5 col-sm-3">
        <p>SEX</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{  item.get_sex_display }}</p>
    </div>
</div>
<div class="row">
    <div class="col-5 col-sm-3">
        <p>MEMO</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{  item.memo|linebreaksbr }}</p>
    </div>
</div>

<div class="row">
    <div class="col-5 col-sm-3">
        <p>CREATER</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{ item.created_by.get_full_name }}</p>
    </div>
</div>
<div class="row">
    <div class="col-5 col-sm-3">
        <p>CREATE TIME</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{ item.created_at|date:"Y/m/d G:i:s" }}</p>
    </div>
</div>
<div class="row">
    <div class="col-5 col-sm-3">
        <p>UPDATER</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{ item.updated_by.get_full_name }}</p>
    </div>
</div>
<div class="row">
    <div class="col-5 col-sm-3">
        <p>UPDATE TIME</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{ item.updated_at|date:"Y/m/d G:i:s" }}</p>
    </div>
</div>
