{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>WATCHER</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css">
    <link href="{% static "app/css/app.css" %}" rel="stylesheet">
</head>

<body>
    <div class="flex-container">
        <div class="top">
            <div class="slide">
                <a class="inner btn btn-outline-dark float-right btn-lg" href="{% url 'index' %}">Hello World!</a>
            </div>
        </div>
    </div>
    <div class="flex-container">
        <tab role="table">
            <h2>Table of Contents</h2>
            <ul>
                <li><a href="">Paper</a></li>
                <li><a href="">Movie</a></li>
                <li><a href="">English Song</a></li>
                <li><a href="">Cat</a></li>
            </ul>
        </tab>
            
        <main role="main">
            <h1>Main Contents</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </main>
        
        <aside role="complementary">
            <h2>Aside</h2>
            <p>Up coming</p>
        </aside>
    <!-- /.flex-container --></div>
    
    <div id="demo-1">
        <div class="cube">
            <div class="front"></div>
            <div class="left"></div>
            <div class="right"></div>
            <div class="back"></div>
            <div class="top2"></div>
            <div class="bottom"></div>
        </div>
    </div>

    <div id="demo-3">
        <div id="demoHeader">
            <nav>
                <ul id="demoHeaderNavi">
                    <li>
                    <a href="#">
                    <div class="demoHeaderNaviBox">
                    <div class="demoHeaderNaviBox-1"><span>HOME</span></div>
                    <div class="demoHeaderNaviBox-2"><span>HOME</span></div>
                    </div>
                    </a>
                    </li>
                    <li>
                    <a href="#">
                    <div class="demoHeaderNaviBox">
                    <div class="demoHeaderNaviBox-1"><span>PRODUCTS</span></div>
                    <div class="demoHeaderNaviBox-2"><span>PRODUCTS</span></div>
                    </div>
                    </a>
                    </li>
                    <li>
                    <a href="#">
                    <div class="demoHeaderNaviBox">
                    <div class="demoHeaderNaviBox-1"><span>FEATURE</span></div>
                    <div class="demoHeaderNaviBox-2"><span>FEATURE</span></div>
                    </div>
                    </a>
                    </li>
                    <li>
                    <a href="#">
                    <div class="demoHeaderNaviBox">
                    <div class="demoHeaderNaviBox-1"><span>NEWS</span></div>
                    <div class="demoHeaderNaviBox-2"><span>NEWS</span></div>
                    </div>
                    </a>
                    </li>
                    <li>
                    <a href="#">
                    <div class="demoHeaderNaviBox">
                    <div class="demoHeaderNaviBox-1"><span>BLOG</span></div>
                    <div class="demoHeaderNaviBox-2"><span>BLOG</span></div>
                    </div>
                    </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div id="demo-2">
        <div id="slider-1" style="opacity: 1; transition: opacity 0.8s ease 0s;" class="tdSlider">
            <div class="sliderViewport" style="perspective: 2000px;">
                <div class="sliderMain" style="">
                    <div class="sliderCell" style="">
                        <ul>
                            <li><a href="#"><img src="http://web-pixy.com/images/photo-XzXzQqH0UztqdNcp.jpg" alt="スライダーのデモ画像1"></a></li>
                            <li><a href="#"><img src="http://web-pixy.com/images/photo-rvL6S8i9P0rRgmyTQcAyUAV9RVi8nLK4.jpg" alt="スライダーのデモ画像2"></a></li>
                            <li><a href="#"><img src="http://web-pixy.com/images/photo-Z9WofUbxyxyKmICEhGoLCuo2fVd3mInm.jpg" alt="スライダーのデモ画像3"></a></li>
                            <li><a href="#"><img src="http://web-pixy.com/images/photo-q1kNxWBw6PE0tavD0uv8Rl8b8xtoc1es.jpg" alt="スライダーのデモ画像4"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="sliderNavi">
                <div class="prev"><img src="http://web-pixy.com/images/site/icon-arrow-left-1.svg" alt="previous"></div>
                <div class="next"><img src="http://web-pixy.com/images/site/icon-arrow-right-1.svg" alt="next"></div>
            </div>
        </div>
    </div>

    <footer role="contentinfo">
        <p>Footer</p>
    </footer>
    

<!-- jQuery first, then Tether, then Bootstrap JS. -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"
        charset="UTF-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/locales/bootstrap-datepicker.ja.min.js"></script>
<script src="{% static "app/js/plugins/responsive-paginate.js" %}"></script>
<script src="{% static "app/js/app.js" %}"></script>
</body>

</html>