.btn-square-toy {
    position: relative;
    display: inline-block;
    padding: 0.25em 0.5em;
    text-decoration: none;
    background: #00BCD4;/*背景色*/
    color: #00BCD4;/*=背景色*/
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2);
    border-bottom: solid 2px #118e9e;
    border-radius: 4px;
    font-weight: bold;
    text-shadow: -1px -1px rgba(255, 255, 255, 0.44), 1px 1px rgba(0, 0, 0, 0.38);
}
  
.btn-square-toy:active {
    /*押したとき*/
    border-bottom: solid 2px #00BCD4;
    box-shadow: none;
    text-shadow: -1px -1px rgba(255, 255, 255, 0.3), 1px 1px rgba(0, 0, 0, 0.3);
}

.top {
    background: url("/media/images/red-laugh.jpg") no-repeat;
    background-size: cover;
    width: 100%;
    height: 700px;
    color: white;
    overflow: hidden;
    position: relative;
    transition: all 0.5s ease-out;
}
.top:hover{
    transform: scale(1.8, 1.8) rotateZ(-25.6deg);
}

.slide{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
}
.slide:hover{
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
    opacity: 1;
}

.inner{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 80%;
    height: 3.2rem;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex: 1 0 auto;
}
nav,
main,
aside {
    border-radius: 5px;
    padding: 10px;
    color: white;
}
nav {
    background-color: orange;
    min-width: 200px;
    max-width: 200px;
    -webkit-order: 0;
    order: 0;
}
main {
    background-color: #fee;
    color: black;
    -webkit-order: 0;
    order: 0;
}
aside {
    background-color: purple;
    min-width: 200px;
    max-width: 200px;
    -webkit-order: 1;
    order: 1;
}
footer {
    border-radius: 5px;
    padding: 10px;
    color: white;
    background-color: green;
}
@media screen and (max-width: 800px) {
    .flex-container {
        display: block;
        flex-direction: column;
    }
    nav,
    main,
    aside {
        min-width: 100%;
        max-width: 100%;
    }
}